<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/66112e6f8b.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="navbar navbar-default d-flex justify-space-between m-3">
      <a href="/articles">Vikinimous</a>
      <a href="/articles/new">New article</a>
    </div>
    <%= yield %>
  </body>
</html>
